.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h4 {
  font-weight: 400;
  font-style: italic;
}

.card {
  border: 1px solid gray;
  border-radius: 10px;
  width: 60rem;
  height: 25rem;
  display: inline-block;
  margin: 20px;
}

.card p {
  font-size: 16px;
}

.example {
  font-style: italic;
}

.words {
  height: 17rem;
  position: relative;
}

.obscurer {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: white;
}

.obscurer:hover {
  background-color: transparent;
}

.input-group {
  margin-top: 20px;
  width: 90%;
  left: 5%;
}

.buttons {
  height: 5rem;
}

.btn {
  margin: 0 10px;
}
